body{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}
.name{
  position: relative;
  margin-top: 20px;
  font-size: 3vw;
  font-weight: 600;
  opacity: 0;
  animation: name 0.8s forwards 0.4s;
}
@keyframes name{
  0%{
    opacity: 0;
    margin-left: 40px;
  }
  100%{
    opacity: 1;
    margin-left: 85px;
  }
}
@media (max-width:600px) {
  .name{
    font-size: 7vw;
    color: #512edd;
  }
}

.list{
  margin-top: -35px;
  margin-left: 500px;
  list-style: none;
  display: flex;
  gap: 10px;
  font-size: 1.8vw;
}
.home{
  margin-left: 0px;
  opacity: 0;
  animation: home 0.5s forwards 0.6s;
}
@keyframes home{
  0%{
    opacity: 0;
    margin-left: 0px;
  }
  100%{
    opacity: 1;
    margin-left: 20px;
  }
}

.about{
  opacity: 0;
  animation: home 0.5s forwards 0.8s;
}
.projects{
  opacity: 0;
  animation: home 0.5s forwards 1s;
}
.skills{
  opacity: 0;
  animation: home 0.5s forwards 1.2s;
}
.certificate{
  opacity: 0;
  animation: home 0.5s forwards 1.4s;
}
.contact{
  opacity: 0;
  animation: home 0.5s forwards 1.6s;
}

.Home{
  font-family: 'Ubuntu', sans-serif;
}
.text{
  font-size: 4vw;
  font-weight: 500;
  margin-top: -19%;
  margin-left: 600px;
  animation: homesection 1.3s forwards 0.5s;
  opacity: 0;
}
.name1{
  margin-top: -75px;
  margin-left: 810px;
  font-size: 5vw;
  font-weight: 600;
  background: linear-gradient(134deg, #5335cf 0%, #de005e 25%, #f66e48 50%,#de005e 75%,#5335cf 100%);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient 10s linear infinite,homesection 0.5s forwards 0.9s;
  opacity: 0;
}
.text1{
  margin-left: 600px;
  font-size: 3vw;
  font-weight: 500;
  animation: homesection 0.5s forwards 1.3s;
  opacity: 0;
}
.photo{
  margin-top: 10px;
  height: 350px;
  opacity: 0;
  animation: photo 0.7s forwards 1s;
  border-radius: 5%;
}
@keyframes homesection{
  0%{
    opacity: 0;
    transform: translateY(0);
  }
  100%{
    opacity: 1;
    transform: translateY(-30px)
  }
}

@keyframes gradient{
  100%{
    background-position: 400%;
  }
}
@keyframes photo{
  0%{
    opacity: 0;
    margin-left: 130px;
  }
  100%{
    opacity: 1;
    margin-left: 160px;
  }
}
.first-text{
  margin-top: -76px;
  margin-left: 790px;
  font-size: 3vw;
}
.Home .first-text::before{
  content:"";
  border-left: 3px solid #512edd;
}
